<!-- Assignment's Card -->

<div id="assignmentsPage">
  <center><h1 class="display-4 mt-2">Assignments</h1></center>
  <div id="thePage">
  <div class="block mr-5 ml-5 mt-3">
  <div v-for="item in assignments">
    <div class="card">
      <div class="card-header" v-bind:id="item.courseWorkId">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" v-bind:data-target="'#collapse' + item.courseWorkId" aria-expanded="false"  v-bind:aria-controls="'collapse + item.courseWorkId'">
            <h5 class="mt-2">{{ item.title }} &emsp;
            <span class= "text-info">Due: {{getDateFromToday(item)}}</span>
            </h5>
          </button>
        </h5>
      </div>

      <div v-bind:id="'collapse' + item.courseWorkId" class="collapse" v-bind:aria-labelledby="item.courseWorkId">



        <div class="card-body">
          <div class="d-md-flex flex-md-row justify-content-between">
            <span style="justify-self: start !important;"><h5 class="mt-2" >Course: &nbsp{{ item.courseName }}</h5></span>
            <div>            
              <button class="btn btn-danger" @click="removeAssignment(item)">Remove</button>
              <button class="btn btn-primary" @click="editAssignment(item)" data-toggle="modal" data-target="#addCard">Edit</button>
            </div>
          </div>
          
          <p v-if="item.description"><b>Assignment Details:</b> {{item.description}}</p>
          <p v-else>No assignment details</p>

          <p><b>Due Date:</b> {{getDate(item)}}</p>
        </div>


        <ul v-if="item.link" class="list-group list-group-flush">
          <li class="list-group-item">
          </li>
          <li class="list-group-item">
            <span> Assignment Link: <a target="_blank" href="item.link"> {{item.link}}</a></span>
          </li>
        </ul>

        <ul v-if="item.materials" class="list-group list-group-flush">
          <li class="list-group-item"><h6 class="mt-2">Materials</h6></li>
          <div v-for="material in item.materials">
            <li class="list-group-item" v-if="material.link"><a  v-bind:href="material.link.url" >{{material.link.title}}</a></li>
            <li class="list-group-item" v-if="material.driveFile" ><a  v-bind:href="material.driveFile.driveFile.alternateLink">{{material.driveFile.driveFile.title}}</a></li>
          </div>
        </ul>
      </div>
    </div>
    </div>

  </div>
  </div>
</div>

<script type="module">
  import {mergeAssignments, removeAssignment} from './js/classroom.js';
  import {editAssignment} from "./js/form.js"

  window.assignmentsPage = new Vue({
    el: '#assignmentsPage',
    data: {
      assignments: [],


    },
    methods: {
      loadAssignments: function(){
          var assignments = mergeAssignments().due
          this.assignments = assignments.filter((assignment) => {
            var hidden = localStorage.getItem("hiddenClassAssignments");
            if(hidden){
              for(item of hidden){
                if(assignment.courseWorkId === item.courseWorkId){
                  return false;
                }
              }
              return true;
            }
            return true;
          })
          console.log("assignments", this.assignments);
      },
      getDateFromToday: function(assignment){
        let assignmentDue = moment([assignment.dueDate.year, assignment.dueDate.month - 1, assignment.dueDate.day, assignment.dueTime.hours, assignment.dueTime.minutes]);
        let today = moment();
        return assignmentDue.from(today);
      },

      getDate: function(assignment){
        let assignmentDue = moment([assignment.dueDate.year, assignment.dueDate.month - 1, assignment.dueDate.day, assignment.dueTime.hours, assignment.dueTime.minutes]);
        return assignmentDue.format('MMMM Do YYYY, h:mma');
      },
      removeAssignment: function(assignment){
        removeAssignment(assignment)
        this.loadAssignments()
      },
      editAssignment: function(assignment){
        editAssignment(assignment);
      }
    },
    mounted(){
      this.loadAssignments();
    }
  });


</script>
