
<!-- Meeting's Card -->

<div id="meetingsPage">
  <center><h1 class="display-4 mt-2">Meetings</h1></center>
  <div id="thePage">
  <div class="block mr-5 ml-5 mt-3">
  <div v-for="item in meetings">
    <div class="card">
      <div class="card-header" v-bind:id="item.courseWorkId">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" v-bind:data-target="'#collapse' + item.courseWorkId" aria-expanded="false"  v-bind:aria-controls="'collapse + item.courseWorkId'">
            <h5 class="mt-2">{{ item.title }} &emsp;
            <span v-if="item.weekday || item.dueDate" class= "text-info">Meeting in: {{getDateFromToday(item)}}</span>
            </h5>
          </button>
        </h5>
      </div>

      <div v-bind:id="'collapse' + item.courseWorkId" class="collapse" v-bind:aria-labelledby="item.courseWorkId">



        <div class="card-body">
          <div class="d-md-flex flex-md-row justify-content-between">
            <span style="justify-self: start !important;"><h5 class="mt-2" >Course: &nbsp{{ item.courseName }}</h5></span>
            <div>            
              <button class="btn btn-danger" @click="removeMeeting(item)">Remove</button>
              <button class="btn btn-primary" @click="editMeeting(item)" data-toggle="modal" data-target="#addCard">Edit</button>
            </div>
          </div>

          <p v-if="item.notes"><b>Meetings Details:</b> {{item.notes}}</p>
          <p v-else>No meetings details</p>

          <p v-if="item.dueDate"><b>Meeting Date:</b> {{getDate(item)}}</p>
          <p v-if="item.weekday"><b>Next Meeting Time:</b> {{getDate(item)}}</p>
          <p  v-if="item.weekday"><b>Meets:</b> {{getWeekly(item)}}<b></b></p>
          <p v-if="item.announcement"><b>Classroom Meeting Announcement:</b>{{item.announcement}}</p>
        </div>


        <ul v-if="item.link" class="list-group list-group-flush">
          <li class="list-group-item">
          </li>
          <li class="list-group-item">
            <span> Meetings Link: <a target="_blank" href="item.link"> {{item.link}}</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  </div>
  </div>
</div>

<script type="module">
  import {mergeMeetings, removeMeeting} from './js/classroom.js';
  import {editMeeting} from "./js/form.js"
  import {getMoment} from "./js/sorting_utils.js"

  const meetingsPage = new Vue({
    el: '#meetingsPage',
    data: {
      meetings: [],


    },
    methods: {
      loadMeetings: function(){
          this.meetings = mergeMeetings()
          console.log(this.meetings)
      },

      getDateFromToday: function(meetings){
        // console.log(meetings);
        let meetingsDue = getMoment(meetings)
        // console.log(meetingsDue)
        let today = moment();
        if(meetingsDue.isValid()){
          // console.log("valid date")
          return meetingsDue.from(today);
        }
        return "undefined"
      },

      getDate: function(meeting){
        let meetingsDue = getMoment(meeting)
        return meetingsDue.format('MMMM Do YYYY, h:mma');
      },
      getWeekly: function(meeting){
        let meetingsDue = getMoment(meeting)
        return meetingsDue.format('dddd, h:mma');
      },
      removeMeeting: function(meeting){
        removeMeeting(meeting)
        this.loadMeetings()
      },
      editMeeting: function(meeting){
        editMeeting(meeting);
      }
    },
    mounted(){
      this.loadMeetings();
    }
  });


</script>
